.title-page {
  margin-top: 136px;
}
.title-page .case-block-title {
  margin-bottom: 0px;
}
.service-content-number {
  font-size: 62px;
  font-weight: 800;
  opacity: 0.1;
}
.container-service {
  padding: 120px 0;
  border-radius: 4px;
  margin-bottom: 0;
}
.container-service--grey {
  background-color: #f4f5f8;
}
.service-content-text p {
  margin-bottom: 40px;
}
.service-img, .service-img img {
  height: 100%;
  max-width: 100%;
}
.container-service-last-block {
  margin-bottom: 0;
}
.section-accordion-service {
  padding: 120px 0;
}
.section-accordion-service .card-header {
  background-color: #f4f5f8;
}
.section-accordion-service .card {
  background-color: transparent;
}
.wrap-service-bock {
  margin-bottom: 120px;
}
.container-contract {
  background: #2C3544;
  padding: 30px;
  border-radius: 4px;
}
.title-contract-block {
  display: flex;
  align-items: center;
}
.title-contract-block-txt {
  font-size: 20px;
  color: #fff;
  margin-left: 20px;
}
.title-contract-block {
  margin-bottom: 20px;
}
.container-contract {
  height: 100%;
}
.types-cta-text {
  font-size: 20px;
  color: #ffffff;
  text-align: justify;
  line-height: 34px;
}
.contract-fixed-price {
  position: relative;
}
.contract-fixed-price::before {
  content: '';
  background: url(../images/dot_contract_type.svg)center center no-repeat;
  height: 100%;
  position: absolute;
  right: -35px;
  width: 28px;
  top: 0;
  bottom: 0;
}
.service-content-text p {
  margin-bottom: 30px;
}
.wrap-title-service-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.accordion-text {
  white-space: normal;
}

/* media */
@media (max-width: 1200px) {
  .container-service {
    padding: 60px 30px;
  }
  .service-content {
  margin-top: 40px;
  }

  .container-service {
    padding: 80px 0;
  }

}
@media (max-width: 991px) {
  .container-contract-first-item {
    margin-bottom: 25px;
  }
  .types-cta-text {
    font-size: 15px;
    line-height: 28px;
  }
  .contract-fixed-price::before {
    display: none;
  }
}

@media (max-width:  576px) {
  .service-content-number {
    font-size: 42px;
  }
}
